.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #007bff, #00d4ff);
  padding: 10px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links li {
  list-style: none;
}

.liens {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

/* Animation de survol */
.liens:hover {
  color: #ffdd57;
  transform: scale(1.1);
}

.nav-links a svg {
  font-size: 1.2em;
  transition: transform 0.3s ease-in-out;
}

/* Effet d'animation sur les icônes */
.nav-links a:hover svg {
  transform: rotate(-10deg);
}
