.register-container {
  text-align: center;
  padding: 40px;
  max-width: 400px;
  margin: 50px auto;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out;
}

/* Animation d'apparition */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Style des champs avec icônes */
.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  width: 90%;
  transition: border-color 0.3s ease;
}

.input-container:hover {
  border-color: #007bff;
}

.icon {
  color: var(--bleu-profond);
  font-size: 1.2em;
  margin-right: 10px;
}

/* Champs de formulaire */
input {
  border: none;
  outline: none;
  width: 100%;
}

/* Bouton d'inscription */
.register-btn {
  background: #007bff;
  color: white;
  padding: 12px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.register-btn:hover {
  transform: scale(1.05);
  background-color: var(--vert-succès);
}

/* Lien vers connexion */
.login-link {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-link {
  margin-right: 5px;
  color: var(--bleu-profond);
}


.google-btn {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--gris-profond);
}

.google-btn:hover {
  transform: scale(1.05);
  background-color: #007bff;
  color: var(--gris-profond);
}
.login-link {
  color: var(--bleu-profond);
}

